.main {
  height: 100%;
}

.day {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6f707d;
}

.day div {
  display: grid;
  justify-content: center;
  font-weight: 600;
}

.date {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  justify-content: center;
}

.dateBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid #e1e7f3;
  margin-top: -1px;
  margin-right: -1px;
  height: 8rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.dateBox:hover {
  background: #eeeeee;
}
.scrollable {
  width: 100%;
  padding: 2px 4px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dateNumber {
  font-size: 1.125rem;
  font-weight: 600;
  color: #4a5568;
  padding-top: 0.25rem;
}

.today {
  background-color: #1e71ea;
  /* width: 2rem;
  height: 2rem; */
  color: #fff;
  padding: 0.25rem 0.52rem;
  border-radius: 50%;
}

.other-day {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

.eventTitle {
  width: 100%;
  color: #fff;
  background-color: #1c71ea;
  border: none;
  padding: 0.25rem;
  border-radius: 5px;
  margin: 1px 0px;
  cursor: pointer;
}
.eventBox {
  width: 100%;
}

.blankButton {
  height: 100%;
  width: 100%;
}

.disabled {
  cursor: not-allowed;
}
.disabled:hover {
  transform: scale(1);
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  margin-top: -1px;
  margin-right: -1px;
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}
