.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.leftHeader {
  display: flex;
  flex-direction: row;
}

.leftHeader button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  background-color: #fff;
  color: #4a5568;
  cursor: pointer;
}

.leftHeader button:hover {
  color: #1c71ea;
}
.leftHeader button:focus {
  outline: none;
}

.leftHeader div {
  font-weight: 700;
  font-size: 1.5rem;
  color: #4a5568;
}
.leftHeader div:hover {
  color: #1c71ea;
}

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightHeader button {
  width: 6rem;
  color: #f7fafc;
  background-color: #1c71ea;
  font-weight: 300;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.35rem 1.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.rightHeader button:focus {
  outline: 0;
}
.rightHeader button:hover {
  background-color: #005bdb;
}

.eventDiv {
  /* display: grid; */
  place-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #0000006b;
}

.innerDiv {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
  max-width: 90%;
  width: 30rem;
  flex-direction: row;
}

.buttonClose {
  float: right;
  padding-bottom: 0.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.buttonClose:focus {
  outline: 0;
}

.form {
  width: 100%;
  background-color: #fff;
  margin-top: 2rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.event {
  border-color: #ecebeb;
  color: #718096;
  border-width: 0 0 2px;
  font-size: 1.25rem;
  width: 100%;
  padding: 0.1rem 0.2rem;
}

.event::placeholder {
  font-size: 1rem;
  color: #959ba3;
}

.event:focus {
  outline: 0;
  border-color: #1c71ea;
}

.inputDiv {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-weight: 500;
  color: #718096;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.inputDiv tr > td {
  padding: 5px 0px;
}

.table-content {
  padding-left: 8px !important;
  font-weight: 600;
  color: #566170;
}

.event-button {
  display: flex;
  border: none;
  justify-content: flex-end;
  width: 100%;
}

.save-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #1c71ea;
  border-radius: 0.25rem;
  cursor: pointer;
}
.save-button:focus {
  outline: 0;
}
.save-button:hover {
  background-color: #005bdb;
}

.delete-button {
  float: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: none;
  color: #757373;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.delete-button:focus {
  outline: 0;
}
.delete-button:hover {
  color: #fd4646;
}

.block {
  display: flex;
}

.hidden {
  display: none !important;
  overflow: hidden;
  position: fixed;
  top: 0;
}
